parameters:
    level: 6

    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

    paths:
        - src

    ignoreErrors:
        - '#Negated boolean expression is always false#'
        - '#Unable to resolve the template type T in call#'